.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 293px;
  align-items: center;
  background-color: aquamarine;
}

.header_menu {

}

.header_menu ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: circle;
}

.header_menu ul li:first-child {
  list-style: none;
}

.header_logo {
  display: block;
  width: 148px;
}

.adress {

}

.cover {

}

.description {

}

.slogan {

}

.make_bet {

}

.lots {

}

.lot_list {

}

.lot_item {

}

.show_more_lots {

}

.about {

}

.about_logo {

}

.about_text {

}

.footer {

}

.adress {

}

.footer_menu {

}

.social_list {

}

.social_list_item {

}

