.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
}

.header_menu {

}

.header_menu_list {
  display: flex;
  justify-content: center;
  gap: 33px;
  list-style: circle;
  padding-left: 7px;
  padding-bottom: 9px;
}

.header_menu_list_item:first-child {
  list-style: none;
}

.header_menu_list_item {
  border-bottom: 1px solid black;
}

.header_menu_list_item.active {
  border-bottom: none;
}

.header_logo {
  display: block;
  width: 136px;
  padding-top: 92px;
  padding-bottom: 96px;
}

.adress {
  font-style: normal;
  margin-right: 50px;
  margin-bottom: 11px;
  display: flex;
  flex-direction: column;
  max-width: 240px;
  justify-self: end;
  align-items: flex-start;
  line-height: 23px;
}

.adress a {
  text-decoration: none;
  border-bottom: 1px solid black;
}


.cover {

}

.description {

}

.slogan {

}

.make_bet {

}

.lots {

}

.lot_list {

}

.lot_item {

}

.show_more_lots {

}

.about {

}

.about_logo {

}

.about_text {

}

.footer {

}

.adress {

}

.footer_menu {

}

.social_list {

}

.social_list_item {

}

